body{
	width: *;
}

.wrapper{
	margin-left: auto;
	margin-right: auto;
	padding-left: 35px;
	padding-right: 35px;
	max-width: 800px;
	font-family: Calibri;
}

h1, h2, h3, h4, h5, h6{
	font-family: Century Gothic;
	font-weight: 100;
}

h1{
	font-size: 80px;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 22px;
}